[safe]
	directory = /tmp/windmill/wk-default-devmachine-yNhrj/0198ad53-2fd6-533b-bf9c-d814cded8c6e/sync_2
	directory = /tmp/windmill/wk-default-devmachine-z23q0/0198d1c7-408b-82a6-3a29-5cddd1b164fe/sync_2
	directory = /tmp/windmill/wk-default-devmachine-bit7Z/019c581b-ac83-cfe3-2908-54ceb3b94a6e/sync_2
