name: test
ai_config:
  default_model:
    model: claude-sonnet-4-0
    provider: anthropic
  providers:
    anthropic:
      models:
        - claude-sonnet-4-0
        - claude-3-7-sonnet-20250219
      resource_path: u/alex/anthropic
auto_invite_as: developer
auto_invite_enabled: false
auto_invite_mode: invite
color: '#e22d0e'
default_app: u/alex/grateful_app
deploy_to: prod
error_handler: script/hub/11598/workspace-or-schedule-error-handler-teams
error_handler_extra_args:
  channel: '19:RQmL5XixywKyu0vq3i_cAHMlA-9R8rk6FyJhPY_Hi9c1@thread.tacv2'
  channel_name: General
error_handler_muted_on_cancel: false
git_sync:
  repositories:
    - exclude_types_override: []
      git_repo_resource_path: '$res:u/alex/breathtaking_git_repository'
      group_by_folder: false
      script_path: hub/28102/sync-script-to-git-repo-windmill
      settings:
        exclude_path:
          - u/alex/fortuitous_c_git_gpg**
          - u/alex/gpg_github**
        extra_include_path: []
        include_path:
          - f/**
          - u/**
        include_type:
          - script
          - flow
          - app
          - folder
          - variable
          - resource
          - resourcetype
          - schedule
          - trigger
          - user
          - group
          - settings
      use_individual_branch: false
large_file_storage:
  type: S3Storage
  advanced_permissions: null
  public_resource: false
  s3_resource_path: '$res:u/alex/local_minio'
  secondary_storage: {}
mute_critical_alerts: false
operator_settings:
  assets: true
  audit_logs: true
  folders: true
  groups: true
  resources: true
  runs: false
  schedules: true
  triggers: true
  variables: true
  workers: true
